body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(235, 168, 107);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all_bubble_styling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all_bubble_styling * {
  margin-bottom: 30px;
}
.btn {
  border-radius: 10px;
  width: 159px;
  height: 40px;
  background: rgb(71, 144, 173);
  font-size: 20px;
  color: lightyellow;
  margin: 17px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-around;
}

.close {
  display: none;
}

.deleteBtn {
  background-color: initial;
  border: 2px solid lightcoral;
  font-size: 13px;
  color: tomato;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.deleteBtn:focus {
  outline: none;
}

.toast {
  display: flex;
}

.toasts {
  display: block;
  margin: 5px;
  border-radius: 10px;
  width: 250px;
  background-color: lightgray;
  border: 2px solid white;
  height: 60px;
}

.MuiCardActions-root {
  justify-content: center !important;
}

#orderOptions {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

#orderOptions #login {
  flex-basis: 50%;
}

#orderOptions #signup {
  flex-basis: 50%;
}

.popular {
  width: 20%;
  height: 20%;
  padding: 1%;
}

.qtyInput:focus {
  background-color: rgb(160, 204, 231);
}

.authFormStyles {
  border: 5px solid red;
}

/* // KL added */
.form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  background-color: #ffffff;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  padding: 10px;
}

.form-div input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-div input[type='submit'] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-div input[type='button'] {
  width: 25%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-div input[type='submit']:hover {
  background-color: #45a049;
}

.form-div input[type='button']:hover {
  background-color: #45a049;
}

.form-div label {
  text-align: left;
}

.form-div span {
  font-weight: bold;
  color: brown;
  font-size: 22px;
}

.form-div-select {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.form-div-select select {
  width: 20%;
  height: 30px;
}

.form-div-img {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.form-header {
  border-radius: 25px;
  padding: 20px;
  background: blanchedalmond;
}
.checkoutTable th {
  width: 130px;
}

.totalArea {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.bigtable {
  display: flex;
  justify-content: space-around;
}
/* .form-header:first-child{
  flex: 40%;
  background: #73AD21;
}
.errorMsg {
  font-size: 20px;
  color: darkgreen;
}

/* end of KL */
