body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(235, 168, 107);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all_bubble_styling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all_bubble_styling * {
  margin-bottom: 30px;
}
.btn {
  border-radius: 10px;
  width: 159px;
  height: 40px;
  background: rgb(71, 144, 173);
  font-size: 20px;
  color: lightyellow;
  margin: 17px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-around;
}

.close {
  display: none;
}

.deleteBtn {
  background-color: initial;
  border: 2px solid lightcoral;
  font-size: 13px;
  color: tomato;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.deleteBtn:focus {
  outline: none;
}

.toast {
  display: flex;
}

.toasts {
  display: block;
  margin: 5px;
  border-radius: 10px;
  width: 250px;
  background-color: lightgray;
  border: 2px solid white;
  height: 60px;
}

.MuiCardActions-root {
  justify-content: center !important;
}

.qtyInput:focus {
  background-color: rgb(160, 204, 231);
}
